__pycache__/
*.py[cod]

.venv/
venv/
env/

.ipynb_checkpoints/

data/raw/
data/processed/
runs/
reports/

*.pt
*.onnx
*.engine
!models/
!models/ppe_yolo11n_baseline.pt

.env
kaggle.json
Ultralytics/
.ultralytics/
